@use '../abstracts/variables' as *;

.page__header,
.page__main,
.page__footer {
  padding: 1.5rem 0;
}

.page__header,
.page__footer {
  border-bottom: 1px solid $color-border;
}

.page__footer {
  border-top: 1px solid $color-border;
  border-bottom: 0;
}

.page__main {
  min-height: calc(100dvh - 140px);
  display: flex;
  align-items: center;
}

.u-text-gradient {
  background-image: linear-gradient(to right, $color-red-500, $color-yellow-550);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
