$color-neutral-300: #c9c9c9;
$color-neutral-500: #606060;
$color-neutral-900: #1a1a1a;
$color-neutral-950: #0b0b0b;
$color-neutral-1000: #0e0d11;
$color-black: #000000;
$color-white: #ffffff;
$color-yellow-400: #fffe4a;
$color-yellow-550: #f6e323;
$color-yellow-600: #ffd901;
$color-yellow-700: #f7c417;
$color-olive-700: #8e7c02;
$color-red-500: #ff4747;

$color-text: $color-neutral-950;
$color-border: $color-neutral-300;
